In [90]:
import pandas as pd

# Compensation data

import pandas as pd

# Combined Compensation Data (original + OB24-style)
import pandas as pd

# Compensation Data with Pay Code ID
df_comp = pd.DataFrame({
    'Staff First Name': ['John', 'Alice', 'Bob', 'Buelna', 'Buelna', 'Buelna', 'Buelna'],
    'Staff Last Name': ['Doe', 'Smith', 'Lee', 'Stepha', 'Stepha', 'Stepha', 'Stepha'],
    'Location ID': ['LOC1', 'LOC1', 'LOC2', 'DMC', 'DMC', 'DMC', 'DMC'],
    'Schedule Task Name': [
        'Task A', 'Task B', 'Task C',
        'DMC CRNA OB24', 'DMC CRNA OB24', 'DMC CRNA OB24', 'DMC CRNA OB24'
    ],
    'Schedule Start Date': pd.to_datetime([
        '2024-06-03', '2024-06-03', '2024-06-04',
        '2025-05-17', '2025-05-19', '2025-05-21', '2025-05-23'
    ]),
    'Schedule Start Time': ['08:00', '09:00', '10:00', '07:00', '07:00', '07:00', '07:00'],
    'Schedule End Date': pd.to_datetime([
        '2024-06-03', '2024-06-03', '2024-06-04',
        '2025-05-18', '2025-05-20', '2025-05-22', '2025-05-24'
    ]),
    'Schedule End Time': ['16:00', '13:00', '18:00', '07:00', '07:00', '07:00', '07:00'],
    'Schedule Duration (hours)': [8.0, 4.0, 8.0, 24.0, 24.0, 24.0, 24.0],
    'Pay Code ID': ['Bonus', 'Bonus', 'Bonus', 'Allowance', 'Allowance', 'Allowance', 'Allowance']
})


# Date conversions
df_comp['Schedule Start Date'] = pd.to_datetime(df_comp['Schedule Start Date'])
df_comp['Schedule End Date'] = pd.to_datetime(df_comp['Schedule End Date'])
display(df_comp)

,Staff First Name,Staff Last Name,Location ID,Schedule Task Name,Schedule Start Date,Schedule Start Time,Schedule End Date,Schedule End Time,Schedule Duration (hours),Pay Code ID
0,John,Doe,LOC1,Task A,2024-06-03,08:00,2024-06-03,16:00,8.0,Bonus
1,Alice,Smith,LOC1,Task B,2024-06-03,09:00,2024-06-03,13:00,4.0,Bonus
2,Bob,Lee,LOC2,Task C,2024-06-04,10:00,2024-06-04,18:00,8.0,Bonus
3,Buelna,Stepha,DMC,DMC CRNA OB24,2025-05-17,07:00,2025-05-18,07:00,24.0,Allowance
4,Buelna,Stepha,DMC,DMC CRNA OB24,2025-05-19,07:00,2025-05-20,07:00,24.0,Allowance
5,Buelna,Stepha,DMC,DMC CRNA OB24,2025-05-21,07:00,2025-05-22,07:00,24.0,Allowance
6,Buelna,Stepha,DMC,DMC CRNA OB24,2025-05-23,07:00,2025-05-24,07:00,24.0,Allowance

In [91]:
# MCR data
import pandas as pd

# Combined MCR Data (original + OB24-style cases for Stepha Buelna)
df_mcr = pd.DataFrame({
    'DOS': pd.to_datetime([
        '2024-06-03', '2024-06-03', '2024-06-03',  # John Doe (3 cases)
        '2024-06-03',                             # Alice Smith
        '2024-06-04',                             # Bob Lee
        '2025-05-20', '2025-05-20', '2025-05-20', '2025-05-20'  # Stepha Buelna OB24 shifts
    ]),
    'FACILITY': ['LOC1', 'LOC1', 'LOC1', 'LOC1', 'LOC2', 'DMC', 'DMC', 'DMC', 'DMC'],
    'PROVIDER': [
        'John Doe', 'John Doe', 'Alice Smith', 'John Doe', 'Bob Lee',
        'Buelna Stepha', 'Buelna Stepha', 'Buelna Stepha', 'Buelna Stepha'
    ],
    'PROVIDER 2': [None, 'Alice Smith', None, None, None, None, None, None, None],
    'PROVIDER TYPE': ['Surgeon'] * 9,
    'Surgeon': ['Yes'] * 9,
    'PATIENT': ['P1', 'P2', 'P3', 'P4', 'P5', 'P6', 'P7', 'P8', 'P9'],
    'START TIME': [
        '08:00', '10:00', '09:00', '14:00', '10:30',
        '00:55', '01:00', '00:55', '00:55'
    ],
    'END TIME': [
        '09:00', '11:00', '10:00', '16:00', '12:30',
        '06:27', '03:00', '06:27', '06:27'
    ],
    'CALCULATED TIME': [1.0, 1.0, 1.0, 2.0, 2.0, 5.3,  2.0,  5.3,  5.3],
    'FILE NAME': ['F1.pdf'] * 5 + ['VRA_05202025_C'] * 4,
    '# OF PAGES': [2] * 5 + [152] * 4,
    'NOTES': [''] * 9
})

df_mcr['DOS'] = pd.to_datetime(df_mcr['DOS'])
display(df_mcr)

,DOS,FACILITY,PROVIDER,PROVIDER 2,PROVIDER TYPE,Surgeon,PATIENT,START TIME,END TIME,CALCULATED TIME,FILE NAME,# OF PAGES,NOTES
0,2024-06-03,LOC1,John Doe,None,Surgeon,Yes,P1,08:00,09:00,1.0,F1.pdf,2,
1,2024-06-03,LOC1,John Doe,Alice Smith,Surgeon,Yes,P2,10:00,11:00,1.0,F1.pdf,2,
2,2024-06-03,LOC1,Alice Smith,None,Surgeon,Yes,P3,09:00,10:00,1.0,F1.pdf,2,
3,2024-06-03,LOC1,John Doe,None,Surgeon,Yes,P4,14:00,16:00,2.0,F1.pdf,2,
4,2024-06-04,LOC2,Bob Lee,None,Surgeon,Yes,P5,10:30,12:30,2.0,F1.pdf,2,
5,2025-05-20,DMC,Buelna Stepha,None,Surgeon,Yes,P6,00:55,06:27,5.3,VRA_05202025_C,152,
6,2025-05-20,DMC,Buelna Stepha,None,Surgeon,Yes,P7,01:00,03:00,2.0,VRA_05202025_C,152,
7,2025-05-20,DMC,Buelna Stepha,None,Surgeon,Yes,P8,00:55,06:27,5.3,VRA_05202025_C,152,
8,2025-05-20,DMC,Buelna Stepha,None,Surgeon,Yes,P9,00:55,06:27,5.3,VRA_05202025_C,152,

In [92]:
import pandas as pd

# Step 1: Unpivot MCR data
df_mcr_long = pd.melt(
    df_mcr,
    id_vars=[
        'DOS', 'FACILITY', 'PATIENT', 'START TIME', 'END TIME', 'CALCULATED TIME',
        'FILE NAME', '# OF PAGES', 'NOTES', 'PROVIDER TYPE', 'Surgeon'
    ],
    value_vars=['PROVIDER', 'PROVIDER 2'],
    var_name='Provider Role',
    value_name='PROVIDER_NAME'
)

# Step 2: Filter valid providers and prepare Full Name
df_mcr_long = df_mcr_long[df_mcr_long['PROVIDER_NAME'].notna()]
df_mcr_long['PROVIDER_NAME'] = df_mcr_long['PROVIDER_NAME'].str.strip()
df_mcr_long = df_mcr_long[df_mcr_long['PROVIDER_NAME'] != '']
df_mcr_long = df_mcr_long[df_mcr_long['PROVIDER_NAME'].str.split().str.len() == 2]
df_mcr_long[['First Name', 'Last Name']] = df_mcr_long['PROVIDER_NAME'].str.split(' ', expand=True)
df_mcr_long['Full Name'] = df_mcr_long['First Name'].str.strip() + ' ' + df_mcr_long['Last Name'].str.strip()

# Step 3: Convert dates and times to datetime
df_mcr_long['FACILITY'] = df_mcr_long['FACILITY'].astype(str)
df_mcr_long['DOS'] = pd.to_datetime(df_mcr_long['DOS'])
df_mcr_long['Actual Start Time'] = pd.to_datetime(df_mcr_long['DOS'].astype(str) + ' ' + df_mcr_long['START TIME'])
df_mcr_long['Actual End Time'] = pd.to_datetime(df_mcr_long['DOS'].astype(str) + ' ' + df_mcr_long['END TIME'])
df_mcr_long['Actual Worked Hours'] = df_mcr_long['CALCULATED TIME']  # Assuming CALCULATED TIME is in hours


# Step 4: Prepare compensation data
df_comp['Location ID'] = df_comp['Location ID'].astype(str)
df_comp['Full Name'] = df_comp['Staff First Name'].str.strip() + ' ' + df_comp['Staff Last Name'].str.strip()
df_comp['Schedule Start DateTime'] = pd.to_datetime(df_comp['Schedule Start Date'].astype(str) + ' ' + df_comp['Schedule Start Time'])
df_comp['Schedule End DateTime'] = pd.to_datetime(df_comp['Schedule End Date'].astype(str) + ' ' + df_comp['Schedule End Time'])

# Step 5: Cross join and filter by facility + actual time falling in schedule range
df_cross = df_mcr_long.merge(
    df_comp,
    how='left',
    left_on=['Full Name', 'FACILITY'],
    right_on=['Full Name', 'Location ID']
)

df_filtered = df_cross[
    (df_cross['Actual Start Time'] >= df_cross['Schedule Start DateTime']) &
    (df_cross['Actual End Time'] <= df_cross['Schedule End DateTime'])
]

# Step 6: Final formatting
df_result = df_filtered.rename(columns={
    'Full Name_x': 'Full Name'
})[[
    'Full Name', 'FACILITY', 'DOS', 'PATIENT',
    'Actual Start Time', 'Actual End Time', 'Actual Worked Hours',
    'Schedule Task Name', 'Schedule Start Date', 'Schedule Start Time',
    'Schedule End Date', 'Schedule End Time', 'Schedule Duration (hours)',
    'Pay Code ID'
]]

df_result = df_result.sort_values(by=['Full Name', 'DOS', 'FACILITY']).reset_index(drop=True)

# Step 7: Display result
display(df_result)

,Full Name,FACILITY,DOS,PATIENT,Actual Start Time,Actual End Time,Actual Worked Hours,Schedule Task Name,Schedule Start Date,Schedule Start Time,Schedule End Date,Schedule End Time,Schedule Duration (hours),Pay Code ID
0,Alice Smith,LOC1,2024-06-03,P3,2024-06-03 09:00:00,2024-06-03 10:00:00,1.0,Task B,2024-06-03,09:00,2024-06-03,13:00,4.0,Bonus
1,Alice Smith,LOC1,2024-06-03,P2,2024-06-03 10:00:00,2024-06-03 11:00:00,1.0,Task B,2024-06-03,09:00,2024-06-03,13:00,4.0,Bonus
2,Bob Lee,LOC2,2024-06-04,P5,2024-06-04 10:30:00,2024-06-04 12:30:00,2.0,Task C,2024-06-04,10:00,2024-06-04,18:00,8.0,Bonus
3,Buelna Stepha,DMC,2025-05-20,P6,2025-05-20 00:55:00,2025-05-20 06:27:00,5.3,DMC CRNA OB24,2025-05-19,07:00,2025-05-20,07:00,24.0,Allowance
4,Buelna Stepha,DMC,2025-05-20,P7,2025-05-20 01:00:00,2025-05-20 03:00:00,2.0,DMC CRNA OB24,2025-05-19,07:00,2025-05-20,07:00,24.0,Allowance
5,Buelna Stepha,DMC,2025-05-20,P8,2025-05-20 00:55:00,2025-05-20 06:27:00,5.3,DMC CRNA OB24,2025-05-19,07:00,2025-05-20,07:00,24.0,Allowance
6,Buelna Stepha,DMC,2025-05-20,P9,2025-05-20 00:55:00,2025-05-20 06:27:00,5.3,DMC CRNA OB24,2025-05-19,07:00,2025-05-20,07:00,24.0,Allowance
7,John Doe,LOC1,2024-06-03,P1,2024-06-03 08:00:00,2024-06-03 09:00:00,1.0,Task A,2024-06-03,08:00,2024-06-03,16:00,8.0,Bonus
8,John Doe,LOC1,2024-06-03,P2,2024-06-03 10:00:00,2024-06-03 11:00:00,1.0,Task A,2024-06-03,08:00,2024-06-03,16:00,8.0,Bonus
9,John Doe,LOC1,2024-06-03,P4,2024-06-03 14:00:00,2024-06-03 16:00:00,2.0,Task A,2024-06-03,08:00,2024-06-03,16:00,8.0,Bonus

In [94]:
# Discard rows where Pay Code ID is 'BONUS' (case-insensitive)
df_result = df_result[df_result['Pay Code ID'].str.upper() != 'BONUS'].reset_index(drop=True)
display(df_result)

,Full Name,FACILITY,DOS,PATIENT,Actual Start Time,Actual End Time,Actual Worked Hours,Schedule Task Name,Schedule Start Date,Schedule Start Time,Schedule End Date,Schedule End Time,Schedule Duration (hours),Pay Code ID
0,Buelna Stepha,DMC,2025-05-20,P6,2025-05-20 00:55:00,2025-05-20 06:27:00,5.3,DMC CRNA OB24,2025-05-19,07:00,2025-05-20,07:00,24.0,Allowance
1,Buelna Stepha,DMC,2025-05-20,P7,2025-05-20 01:00:00,2025-05-20 03:00:00,2.0,DMC CRNA OB24,2025-05-19,07:00,2025-05-20,07:00,24.0,Allowance
2,Buelna Stepha,DMC,2025-05-20,P8,2025-05-20 00:55:00,2025-05-20 06:27:00,5.3,DMC CRNA OB24,2025-05-19,07:00,2025-05-20,07:00,24.0,Allowance
3,Buelna Stepha,DMC,2025-05-20,P9,2025-05-20 00:55:00,2025-05-20 06:27:00,5.3,DMC CRNA OB24,2025-05-19,07:00,2025-05-20,07:00,24.0,Allowance